<% layout('/Layouts/boilerplates.ejs') %>
<body>
    <h1>Edit <%= player.name %> </h1>
    <form action="/players/<%= player._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"  value=<%= player.name %> >
        <label for="team">Team</label>
        <input type="text" name="team" id="team" value=<%= player.team %> >
        <label for="age">Age</label>
        <input type="number" name="age" id="age" value=<%= player.age %> >
        <label for="role">Role</label>
        <input type="text" name="role" id="role" value=<%= player.role %> >
        <label for="position">Position</label>
        <input type="text" name="position" id="position" value=<%= player.position %> >
        <label for="jersey">Jersey Number</label>
        <input type="text" name="jersey" id="jersey" value=<%= player.jersey %> >
        <button>Submit</button>
    </form>
    <a href="/players/<% player._id%>">Cancel</a>
</body>